tap "aquasecurity/trivy"
tap "artginzburg/tap"
tap "azure/kubelogin"
tap "cjbassi/ytop"
tap "ctrlspice/otel-desktop-viewer"
tap "derailed/popeye"
tap "ekvedaras/cask"
tap "equinix-labs/otel-cli"
tap "felixkratz/formulae"
tap "fluxcd/tap"
tap "ggozad/formulas"
tap "goreleaser/tap"
tap "grafana/grafana"
tap "hashicorp/tap"
tap "johanhaleby/kubetail"
tap "kcl-lang/tap"
tap "koekeishiya/formulae"
tap "kubewall/tap"
tap "nikitabobko/tap"
tap "odigos-io/odigos-cli"
tap "openunison/ouctl"
tap "powershell/tap"
tap "robusta-dev/holmesgpt"
tap "robusta-dev/krr"
tap "tabbyml/tabby"
tap "ynqa/tap"
tap "yqrashawn/goku"
brew "act"
brew "age"
brew "libtiff"
brew "jpeg-xl"
brew "aom"
brew "argocd"
brew "asdf"
brew "astroterm"
brew "python@3.12"
brew "awscli"
brew "azure-cli"
brew "bat"
brew "btop"
brew "glib"
brew "coreutils"
brew "emacs"
brew "cask"
brew "cdebug"
brew "harfbuzz"
brew "chafa"
brew "gcc"
brew "numpy"
brew "checkov"
brew "chezmoi"
brew "cilium-cli"
brew "curl"
brew "dive"
brew "eza"
brew "fastfetch"
brew "fd"
brew "leptonica"
brew "libarchive"
brew "libass"
brew "tesseract"
brew "ffmpeg"
brew "fish"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-delta"
brew "gitui"
brew "glow"
brew "gnu-sed"
brew "go"
brew "gowall"
brew "gping"
brew "helm"
brew "hugo"
brew "imagemagick"
brew "ipcalc"
brew "jq"
brew "k6"
brew "k9s"
brew "kind"
brew "kube-score"
brew "kubernetes-cli"
brew "kubectx"
brew "kubeseal"
brew "kubeshark"
brew "kubie"
brew "kustomize"
brew "lazygit"
brew "libpq", link: true
brew "libzip"
brew "lsd"
brew "luarocks"
brew "macchina"
brew "make"
brew "miller"
brew "mimirtool"
brew "minikube"
brew "mkcert"
brew "mtr"
brew "n"
brew "neovim", args: ["HEAD"]
brew "nerdfetch"
brew "nmap"
brew "node"
brew "nowplaying-cli"
brew "nss"
brew "nyancat"
brew "openbao"
brew "openjdk"
brew "parallel"
brew "pipx"
brew "pnpm"
brew "pocketbase"
brew "popeye"
brew "poppler"
brew "pre-commit"
brew "protobuf"
brew "pv"
brew "python@3.11"
brew "qemu"
brew "ripgrep"
brew "sevenzip"
brew "sherlock"
brew "socat"
brew "spicetify-cli", link: false
brew "starship"
brew "stern"
brew "stow"
brew "switchaudio-osx"
brew "tfenv"
brew "tmux"
brew "tree"
brew "uv"
brew "velero"
brew "viddy"
brew "viu"
brew "wakeonlan"
brew "watch"
brew "wget"
brew "yazi"
brew "yq"
brew "yt-dlp"
brew "zoxide"
brew "aquasecurity/trivy/trivy"
brew "artginzburg/tap/sudo-touchid"
brew "azure/kubelogin/kubelogin"
brew "cjbassi/ytop/ytop"
brew "equinix-labs/otel-cli/otel-cli"
brew "felixkratz/formulae/borders"
brew "felixkratz/formulae/sketchybar"
brew "fluxcd/tap/flux", link: false
brew "fluxcd/tap/flux@2.2"
brew "fluxcd/tap/flux@2.4"
brew "grafana/grafana/alloy"
brew "johanhaleby/kubetail/kubetail"
brew "kcl-lang/tap/kcl-lsp"
brew "koekeishiya/formulae/skhd"
brew "kubewall/tap/kubewall"
brew "odigos-io/odigos-cli/odigos"
brew "openunison/ouctl/ouctl"
brew "powershell/tap/powershell"
brew "robusta-dev/holmesgpt/holmesgpt"
brew "robusta-dev/krr/krr"
brew "tabbyml/tabby/tabby"
brew "ynqa/tap/logu"
cask "aerospace"
cask "alt-tab"
cask "apache-directory-studio", args: { appdir: "/Applications" }
cask "appcleaner", args: { appdir: "/Applications" }
cask "aptakube"
cask "arc", args: { appdir: "/Applications" }
cask "betterdisplay"
cask "bruno"
cask "dbeaver-community"
cask "discord"
cask "docker-desktop", args: { appdir: "/Applications" }
cask "firefox"
cask "font-fira-code", args: { appdir: "/Applications" }
cask "font-fira-code-nerd-font", args: { appdir: "/Applications" }
cask "font-hack-nerd-font", args: { appdir: "/Applications" }
cask "font-sf-mono"
cask "font-sf-pro"
cask "font-symbols-only-nerd-font"
cask "fork"
cask "ghostty"
cask "gitbutler"
cask "goreleaser"
cask "hot"
cask "iterm2", args: { appdir: "/Applications" }
cask "jet-pilot"
cask "jordanbaird-ice"
cask "keepassxc", args: { appdir: "/Applications" }
cask "legcord"
cask "maccy", args: { appdir: "/Applications" }
cask "meld", args: { appdir: "/Applications" }
cask "obs"
cask "obsidian", args: { appdir: "/Applications" }
cask "orbstack"
cask "raycast"
cask "rectangle", args: { appdir: "/Applications" }
cask "scroll-reverser"
cask "sf-symbols"
cask "slack"
cask "spotify"
cask "tailscale-app"
cask "temurin@21"
cask "tomatobar"
cask "visual-studio-code", args: { appdir: "/Applications" }
cask "vlc", args: { appdir: "/Applications" }
cask "wireshark-app"
cask "zed"
cask "zen"
vscode "actionforge.actionforge"
vscode "adamhartford.vscode-base64"
vscode "alfnielsen.vsc-rename-files"
vscode "atommaterial.a-file-icon-vscode"
vscode "bennycode.sort-everything"
vscode "casualjim.gotemplate"
vscode "christian-kohler.path-intellisense"
vscode "coolbear.systemd-unit-file"
vscode "daltonmenezes.aura-theme"
vscode "docker.docker"
vscode "eamodio.gitlens"
vscode "editorconfig.editorconfig"
vscode "emeraldwalk.runonsave"
vscode "foxundermoon.shell-format"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.github-vscode-theme"
vscode "github.vscode-github-actions"
vscode "github.vscode-pull-request-github"
vscode "golang.go"
vscode "grafana.grafana-alloy"
vscode "gruntfuggly.todo-tree"
vscode "hashicorp.terraform"
vscode "hilleer.yaml-plus-json"
vscode "janisdd.vscode-edit-csv"
vscode "jheilingbrunner.vscode-gnupg-tool"
vscode "jvalecillos.gpg"
vscode "kcl.kcl-vscode-extension"
vscode "luisfontes19.vscode-swissknife"
vscode "mcagampan.dark-horizon"
vscode "mdickin.markdown-shortcuts"
vscode "mechatroner.rainbow-csv"
vscode "mhutchie.git-graph"
vscode "michelemelluso.gitignore"
vscode "mikestead.dotenv"
vscode "ms-azuretools.vscode-azure-github-copilot"
vscode "ms-azuretools.vscode-azure-mcp-server"
vscode "ms-azuretools.vscode-azureresourcegroups"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-kubernetes-tools.vscode-aks-tools"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-python.black-formatter"
vscode "ms-python.debugpy"
vscode "ms-python.isort"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-python.vscode-python-envs"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode-remote.remote-ssh-edit"
vscode "ms-vscode-remote.remote-wsl"
vscode "ms-vscode-remote.vscode-remote-extensionpack"
vscode "ms-vscode.remote-explorer"
vscode "ms-vscode.remote-server"
vscode "ms-vsliveshare.vsliveshare"
vscode "pkief.material-icon-theme"
vscode "qwtel.sqlite-viewer"
vscode "rangav.vscode-thunder-client"
vscode "redhat.vscode-yaml"
vscode "run-at-scale.terraform-doc-snippets"
vscode "ryu1kn.partial-diff"
vscode "samuelcolvin.jinjahtml"
vscode "sanjulaganepola.github-local-actions"
vscode "sgryjp.vscode-stable-sort"
vscode "sonarsource.sonarlint-vscode"
vscode "tamasfe.even-better-toml"
vscode "tim-koehler.helm-intellisense"
vscode "timonwong.shellcheck"
vscode "upboundio.upbound"
vscode "usernamehw.errorlens"
vscode "vscode-icons-team.vscode-icons"
vscode "weaveworks.vscode-gitops-tools"
vscode "yuvraj.json-scape-unscape"
vscode "yy0931.save-as-root"
vscode "yzane.markdown-pdf"
vscode "yzhang.markdown-all-in-one"
vscode "zamerick.vscode-caddyfile-syntax"
